# Node modules
backend/node_modules/
front/node_modules/

# Environment files
backend/.env*
front/.env*

# Next.js build folders
backend/.next/
backend/out/
front/.next/
front/out/

# Optional: other build or debug files
backend/build/
front/build/
backend/.DS_Store
front/.DS_Store
