# Dependencies
/backend/node_modules/
/backend/.pnp
/backend/.pnp.js
/backend/.yarn/install-state.gz

/front/node_modules/
/front/.pnp
/front/.pnp.js
/front/.yarn/install-state.gz

# Local env files
/backend/.env*
/front/.env*

# Next.js build
/backend/.next/
/backend/out/
/front/.next/
/front/out/
