# Node modules
/backend/node_modules/
/mobile/node_modules/

# Environment files
backend/.env*
mobile/.env*

# Next.js build folders
backend/.next/
backend/out/
mobile/.next/
mobile/out/

# Optional: other build or debug files
backend/build/
mobile/build/
backend/.DS_Store
mobile/.DS_Store